[MESSAGES CONTROL]
disable=broad-except,
        broad-exception-raised,
        consider-using-f-string,
        consider-using-with,
        invalid-name,
        missing-function-docstring,
        missing-module-docstring,
