astroid==3.0.3
    # via pylint
black==24.1.1
    # via slack-status-cli (pyproject.toml)
build==1.0.3
    # via slack-status-cli (pyproject.toml)
click==8.1.7
    # via black
coverage[toml]==7.4.1
    # via pytest-cov
dill==0.3.8
    # via pylint
iniconfig==2.0.0
    # via pytest
isort==5.13.2
    # via pylint
mccabe==0.7.0
    # via pylint
mypy-extensions==1.0.0
    # via black
packaging==23.2
    # via
    #   black
    #   build
    #   pytest
pathspec==0.12.1
    # via black
platformdirs==4.2.0
    # via
    #   black
    #   pylint
pluggy==1.4.0
    # via pytest
pylint==3.0.3
    # via slack-status-cli (pyproject.toml)
pyproject-hooks==1.0.0
    # via build
pytest==7.4.4
    # via
    #   pytest-cov
    #   slack-status-cli (pyproject.toml)
    #   syrupy
pytest-cov==4.1.0
    # via slack-status-cli (pyproject.toml)
syrupy==4.6.0
    # via slack-status-cli (pyproject.toml)
toml==0.10.2
    # via slack-status-cli (pyproject.toml)
tomlkit==0.12.3
    # via pylint
